<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
</head>
<body>    
    <div>
        <table id="table">
            <tr class="table-head">
                <th>user id</th>
                <th>ip address</th>
                <th>count</th>
            </tr>            
        </table>
    </div>
    <br />
    <br />
    <div style="width: 100%;">
        <input type="button" id="sign-in" name="sign-in" value="sign-in">
    </div>
    <script src="{{ static_url('js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ static_url('js/main.js') }}"></script>
</body>
</html>